.image-container {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 30%;
}

.responsive-image {
    width: 100%;
    height: 30%;
    max-height: 20%;
    max-width: 100%;
}


